page-refuges {

.card-background-page {

    ion-card {
      position: relative;
      text-align: left;
    }
  
    .card-title {
      
      font-size: 1.2em;
      width: 100%;
      font-weight: bold;
      color: #009688;
    }
  
    .card-subtitle {
      
      font-size: 0.8em;
      width: 100%;
      color: #000;
    }  


  }
}